<p>  
  <%= @drink.name%>  
</p> 
<p>  
  <%= @drink.booze %>  
</p>  
<p>  
  <%= @drink.mixer %> 
</p> 
<p>  
  <%= @drink.glass%>  
</p> 
<p>  The Following Guests Have Ordered This Drink:
  <ul>
  <% @drink.guests.each do |guest| %>
  <li>
    <%= guest.first_name %>
    <%= guest.last_name %>

  </li>
    <% end %>
  </ul>
</p>
<p>
  <a href="/drinks/new">Add A New Drink</a>
</p>
<p>
  <a href="/drinks">See All Drinks</a>
</p>

<p>
  <a href="/drink/<%= @drink.id %>/edit">Edit This Drink</a>
</p>
<form action="/drink/<%= @drink.id %>" method="post">  
  <input type="hidden" name="_method" value="delete">  
  <input type="submit" value="Yes, Delete It!">  
  <a href="/drink/<%= @drink.id %>"></a>
</form>  